extends ./../layout

block content
    .container
    .row
      table#articles-list.table.table-hover.table-bordered
        thead
          tr
            th 标题
            th 时间
            th 查看
            th 修改
            th 删除
        tbody
          each item in news_lists
            tr(class="item-id-#{item._id}")
              td
                div.media
                  a(href="/article/update?id=#{item._id}")
                    div.pull-left.s-img
                      img(src="#{item.img}",width="50px",alt="")
                    div.pull-left
                      p.media-heading #{item.title}
              td #{item.time}
              td: a(href="/article/detail?id=#{item._id}") 查看
              td: a(href="/article/update?id=#{item._id}") 修改
              td
                button.btn.btn-danger.del(type="button", data-id="#{item._id}") 删除
